<h1>Welcome to Artworld!</h1>

<%= render 'form', artwork: Artwork.new, url: artworks_path %>

<% @artworks.each do |artwork| %>
  <p>
    <%= image_tag artwork.media.variant(:medium) %>
  </p>
  <%= artwork.title %>
<% end %>
